<div class="mdl-layout__drawer" id="menu_qco">
    <span style=" background-color: #0862d8;"class="mdl-layout-title"> 
        <h2 style="padding-left: 10px;">MENU</h2>
    </span>

    <nav class="mdl-navigation">
        
        <a class="mdl-navigation__link" href="/cs" id="home_cs">
            <label class="mdl-button mdl-js-button mdl-button--icon"
            for="fixed-header-drawer-exp">
       <i class="material-icons">home</i>
        </label>HOME</a>
        <a class="mdl-navigation__link" href="cs/upload">
            <label class="mdl-button mdl-js-button mdl-button--icon"for="fixed-header-drawer-exp"><i class="material-icons">upload</i></label>
       UPLOAD_FILE</a>
       <a class="mdl-navigation__link" href="http://10.113.90.98/qco_target">
        <label class="mdl-button mdl-js-button mdl-button--icon"for="fixed-header-drawer-exp"><i class="material-icons">target QCO</i></label>
        SETUP TARGET</a>
    </nav>

</div>