<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:25%;min-width:300px; background-image: url(/public/imgbook/bodyBG.jpg);" id="mySidebar">
    <a href="/lib" onclick="w3_close()" class="w3-bar-item w3-button" ><span class="glyphicon glyphicon-home" style="padding-right: 20px;"></span> Trang Chủ</a>
    <li class="w3-bar-item w3-blue"><span class="glyphicon glyphicon-tasks" style="padding-right: 20px;"></span>  xxx</li>
    <a href="/lib/book_leader" onclick="w3_close()" class="w3-bar-item w3-button w3-purple "><span class="glyphicon glyphicon-heart" style="padding-right: 20px;"></span> xxx</a>
    <a id="rf_tv" href="/cut_kanban" onclick="w3_close()" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-screenshot" style="padding-right: 20px;"></span> xxx</a>
    <a href="#cate" onclick="w3_close()" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-leaf" style="padding-right: 20px;"></span> xxx/a>
    <a href="#cate" onclick="w3_close()" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-duplicate" style="padding-right: 20px;"></span> xxx</a>
    <li class="w3-bar-item w3-blue"><span class="glyphicon glyphicon-tasks" style="padding-right: 20px;"></span>  xxx</li>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-purple">...</a>
    <li class="w3-bar-item w3-blue"><span class="glyphicon glyphicon-king" style="padding-right: 20px;"></span> xxx</li>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-purple">...</a>
    <li class="w3-bar-item w3-blue"><span class="glyphicon glyphicon-paste" style="padding-right: 20px;"></span>  xxx</li>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-purple">...</a>
    <li class="w3-bar-item w3-blue"><span class="glyphicon glyphicon-cloud-upload" style="padding-right: 20px;"></span>  xxx</li>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-purple">...</a>
  </nav>