
<style>
    .mdl-layout__drawer {
        width: 350px;
        left: -250px;
    }
    .mdl-layout__drawer.is-visible {
        left: 0;
    }
    .abc {
        color:black;
    }
</style>
<div class="mdl-layout__drawer" style="border: none;">
    <div style="max-width: 100%; min-height: 80px; background-image: url('../Image/2.jpg');
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">HUMAN RESOURCE</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    
    <nav class="mdl-navigation">
        <style>
            .abc:hover{
                color:indigo;
            }
        </style>
        <!-- <div style="margin-left: 40px;"><b>INFOR.</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/Hanes">
            <i class="material-icons" style="margin-right: 20px;">attach_money</i>
            HANES
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/Departments">
            <i class="material-icons" style="margin-right: 20px;">explore</i>
            DEPARTMENTS
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>REGISTER</b></div>
        <a class="mdl-navigation__link abc" style="color: black; font-size: 14px;" href="/HR/AL">
            <i class="material-icons" style="margin-right: 20px;">settings</i>
            ANUAL LEAVE
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/OT">
            <i class="material-icons" style="margin-right: 20px;">offline_bolt</i>
            OVERTIME
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/ChangeShift">
            <i class="material-icons" style="margin-right: 20px;">description</i>
            CHANGE SHIFT
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>SUBMIT</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/KPI_Evaluate">
            <i class="material-icons" style="margin-right: 20px;">description</i>
            KPI SUBMIT
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/KPI_report">
            <i class="material-icons" style="margin-right: 20px;">timeline</i>
            KPI REPORT
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>PROGRAMS</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/Talent_Development">
            <i class="material-icons" style="margin-right: 20px;">card_membership</i>
            TALENT DEVELOPMENT
        </a> -->
        <nav class="mdl-navigation">
            <div style="margin-left: 20px; color: black; font-weight: bold;">Talent Development</div>
            <a class="mdl-navigation__link" style="color:darkmagenta" href="/Talent_Development/Program">
                <i class="material-icons" style="margin-right: 20px;">article</i>Programs</a>
            <a class="mdl-navigation__link" style="color:red" href="/Talent_Development/Detail">
                <i class="material-icons" style="margin-right: 20px;">accessibility</i>CHOSEN</a>
            <a class="mdl-navigation__link" style="color:green" href="/Talent_Development/Event">
                <i class="material-icons" style="margin-right: 20px;">event</i>Events</a>
            <a class="mdl-navigation__link" style="color:blue" href="/Talent_Development/Candidate">
                <i class="material-icons" style="margin-right: 20px;">bookmarks</i>Reports</a>
            <hr>
            <div style="margin-left: 20px; color: black; font-weight: bold;">Back</div>
            <a class="mdl-navigation__link" style="color:rgb(0, 14, 206) 97" href="/Talent_Development">
                <i class="material-icons" style="margin-right: 20px;">home_work</i>Talent Development</a>
            <!-- <a class="mdl-navigation__link" style="color:rgb(139, 0, 0)" href="/">
                <i class="material-icons" style="margin-right: 20px;">west</i>Home</a> -->
        </nav>
        <hr>
        <div style="margin-left: 40px;"><b>BACK</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Hanes/">
            <i class="material-icons" style="margin-right: 20px;">keyboard_backspace</i>
            Trang Chủ
        </a>
    </nav>
</div>