
<style>
    .mdl-layout__drawer {
        width: 300px;
        left: -250px;
    }
    .mdl-layout__drawer.is-visible {
        left: 0;
    }
</style>
<div class="mdl-layout__drawer" style="background-color: rgb(33, 97, 140); border: none;">
    <div style="max-width: 100%; min-height: 80px; background-image: url('../Image/2.jpg');
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">Finance</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    <nav class="mdl-navigation">
        <div style="margin-left: 40px; color: white;"><b>Application</b></div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/Finance/ScanTrashTicket">
            <i class="material-icons" style="margin-right: 20px">receipt</i>
            Trash scan
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/Finance/Kaizen_Report">
            <i class="material-icons" style="margin-right: 20px">subject</i>
            Kaizen Reports
        </a>
        <hr>
        <div style="margin-left: 40px; color: white;">Reports</div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/Finance/Export_Reports">
            <i class="material-icons" style="margin-right: 20px">source</i>
            Reports Control
        </a>
        <!-- <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="#">
            <i class="material-icons" style="margin-right: 20px">import_contacts</i>
            Tiêu chuẩn chất lượng
        </a> -->
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="#">
            <i class="material-icons" style="margin-right: 20px">file_copy</i>
            Documentations
        </a>
        <hr>
        <div style="margin-left: 40px; color: white;">Home</div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px">keyboard_backspace</i>
            Go Back
        </a>
    </nav>
</div>