<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Phubai Innovation</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />
    <!-- Chart JS -->
    <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- Fonts and icons -->
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="./assets/css/demo.css">
</head>

<body
    style="background-image: url(./assets/backgroundimage/quality.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="wrapper">
        <!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Phubai Innovation</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->

            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-plan-100.png" width="30" height="30" alt="">
                    Quality - Giám sát nhiệt độ và độ ẩm
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <% } %>
                                                        <p class="text-muted text-success">Leading the challange</p><a
                                                            href="/login"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <%- include ("./partials/sidebar.ejs"); -%>
            <!-- End Sidebar -->
            <div class="main-panel">
                <div class="content">
                    <div class="row justify-content-center p-3" id="card-container">
                        <!-- <div class="card" style="width: 18rem;border-radius: 10px;">
                            <h2 class="card-header bg-success text-white" style="border-radius: 10px;">QA laboratory
                            </h2>
                            <div class="card-body">
                                <p class="card-text text-muted">Cập nhật lúc: 2023-06-10</p>
                                <div class="row row-demo-grid">
                                    <div class="col-md-6">
                                        <p class="card-title">Nhiệt độ &deg;C</p>
                                        <p class="card-text text-primary" style="font-size: 36px;">30.2</p>
                                    </div>
                                    <div class=" col-md-6">
                                        <p class="card-title">Độ ẩm %</p>
                                        <p class="card-text text-primary" style="font-size: 36px;">42.5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action p-1">
                                <button class="btn btn-primary float-right">Biểu đồ</button>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col d-flex">
                        <button class="btn btn-danger ml-auto" id="btn_export">Xuất báo cáo</button>
                    </div>
                </div>

                <div class="modal" id="export_download" tabindex="-1" role="dialog">
                    <style>
                        .modal-md {
                            max-width: fit-content;
                        }
                    </style>
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h2 class="modal-title">Xuất dữ liệu báo cáo</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="loader loader-danger" id="div_loader"></div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label for="dateFrom">Từ ngày</label>
                                        <input type="date" class="form-control" id="dateFrom" name="dateFrom">
                                    </div>
                                    <div class="form-group">
                                        <label for="dateTo">Đến ngày</label>
                                        <input type="date" class="form-control" id="dateTo" name="dateTo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txt_location">Chọn khu vực</label>
                                    <select class="form-control input-square" id="txt_location">
                                        <option value="All">Tất cả</option>
                                        <option value="PB1">PB1 Laboratory</option>
                                        <option value="PB2">PB2 Laboratory</option>
                                        <option value="PB3">PB3 Laboratory</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btn_download">Tải xuống</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="temp_chart" tabindex="-1" role="dialog" aria-hidden="true">
                    <style>
                        .modal-lg {
                            max-width: 60%;
                        }
                    </style>
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h2 class="modal-title" id="txt_show_dialog">
                                    Thông tin nhiệt độ và độ ẩm
                                </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row row-demo-grid">
                                    <div class="col-md-6">
                                        <div class="chart-container">
                                            <canvas id="getTempChart"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="chart-container">
                                            <canvas id="getHumpChart"></canvas>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Custom template | don't include it in your project! -->
                <div class="custom-template">
                    <div class="title">Settings</div>
                    <div class="custom-content">
                        <div class="switcher">
                            <div class="switch-block">
                                <h4>Topbar</h4>
                                <div class="btnSwitch">
                                    <button type="button" class="changeMainHeaderColor" data-color="blue"></button>
                                    <button type="button" class="selected changeMainHeaderColor"
                                        data-color="purple"></button>
                                    <button type="button" class="changeMainHeaderColor"
                                        data-color="light-blue"></button>
                                    <button type="button" class="changeMainHeaderColor" data-color="green"></button>
                                    <button type="button" class="changeMainHeaderColor" data-color="orange"></button>
                                    <button type="button" class="changeMainHeaderColor" data-color="red"></button>
                                </div>
                            </div>
                            <div class="switch-block">
                                <h4>Background</h4>
                                <div class="btnSwitch">
                                    <button type="button" class="changeBackgroundColor" data-color="bg2"></button>
                                    <button type="button" class="changeBackgroundColor selected"
                                        data-color="bg1"></button>
                                    <button type="button" class="changeBackgroundColor" data-color="bg3"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-toggle">
                        <i class="flaticon-settings"></i>
                    </div>
                </div>
                <!-- End Custom template -->
            </div>
            <!--   Core JS Files   -->
            <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
            <script src="./assets/js/core/popper.min.js"></script>
            <script src="./assets/js/core/bootstrap.min.js"></script>

            <!-- jQuery UI -->
            <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
            <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

            <!-- jQuery Scrollbar -->
            <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

            <!-- Moment JS -->
            <script src="./assets/js/plugin/moment/moment.min.js"></script>

            <!-- Chart JS -->
            <script src="./assets/js/plugin/chart.js/chart.min.js"></script>

            <!-- jQuery Sparkline -->
            <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

            <!-- Chart Circle -->
            <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>

            <!-- Datatables -->
            <script src="./assets/js/plugin/datatables/datatables.min.js"></script>

            <!-- Bootstrap Notify -->
            <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

            <!-- Bootstrap Toggle -->
            <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

            <!-- jQuery Vector Maps -->
            <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
            <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

            <!-- Google Maps Plugin -->
            <script src="./assets/js/plugin/gmaps/gmaps.js"></script>

            <!-- Sweet Alert -->
            <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>

            <!-- Azzara JS -->
            <script src="./assets/js/ready.min.js"></script>

            <!-- Azzara DEMO methods, don't include it in your project! -->
            <script src="./assets/js/setting-demo.js"></script>
            <script src="./javascript/QA/code-quality.js"></script>
            <!-- TranMung -->

</body>

</html>