
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quẹt thẻ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/003c620c4b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <style>
        .container-fluid {
            margin-top: 30px;
        }

        body {
            background-color: #f4f6f9;
        }

        .box-class {
            border-top-color: #117a8b !important;
            border-radius: 0.25rem;
            box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
            background-color: #fff;
            border-top: 5px solid #e9ecef;
            margin-bottom: 1rem;
            padding: 1rem;
        }

        .card {
            margin-bottom: 1rem;
        }

        .card-header {
            background-color: #117a8b;
        }

        .blue1 {
            background-color: #17a2b8;
        }

        .blue2 {
            background-color: #007bff;
        }

        .gray1 {
            background-color: #6c757d;
        }

        .green1 {
            background-color: #28a745;
        }

        .card-title {
            float: left;
            font-size: 1.1rem;
            font-weight: 400;
            margin: 0;
            color: white;
        }

        #wh_tb_filter {
            text-align: right;
        }

        #wh_tb_filter label {
            text-align: left;
        }

        #wh_tb_length select {
            float: left;
        }

        #wh_tb_paginate {
            float: right;
        }

        .menu-item {
            color: black;
        }

        .menu-item:hover {
            text-decoration: none;
        }

        .nav-link.active {
            background-color: #007bff !important;
            color: #fff !important;
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1540px;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid"
        style="background-color:rgb(53, 165, 209);padding-bottom: 5px;padding-top:5px;margin-top: 0px;">
        <div class="row">
            <div class="col-sm-6">
                <h1>Quẹt thẻ</h1>
            </div>
            <div class="col-sm-6">
                <p style="float: right;margin-top: 15px;font-size: 20px;margin-right: 16px;">
                    <span style="margin-right: 20px;">
                        <a class="menu-item" href="../Assets/Huong dan an tem theo cum.pdf">HƯỚNG DẪN</a>
                    </span>
                </p>
                <p style="float: right;margin-top: 15px;font-size: 20px;margin-right: 16px;">
                    <span style="margin-right: 20px;">
                        <a class="menu-item" href="/chinh-gio">ĐIỀU CHỈNH</a>
                    </span>
                </p>
                <p style="float: right;margin-top: 15px;font-size: 20px;margin-right: 16px;">
                    <span style="margin-right: 20px;">
                        <a class="menu-item" href="/tem-chung">QUẸT THẺ</a>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Chọn cụm</h3>
                    </div>
                    <div class="card-body" style="padding:12px;">
                        <div class="row">
                            <div class="col-md-12">
                                <select class="custom-select form-control-border border-width-2" id="SelectCluster">
                                    <option value="GA">GA</option>
                                    <option value="GB">GB</option>
                                    <option value="GC">GC</option>
                                    <option value="TUBA">TUBA</option>
                                    <option value="TUBB">TUBB</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Chọn công đoạn</h3>
                    </div>
                    <div class="card-body" style="padding:12px;">
                        <div class="row">
                            <div class="col-md-12">
                                <select class="custom-select form-control-border border-width-2" id="SelectOperation">
                                    <option value="SPR">SPR</option>
                                    <option value="MHL">MHL</option>
                                    <option value="AUTO CUT & BDL">AUTO CUT & BDL</option>
                                    <option value="MAN CUT">MAN CUT</option>
                                    <option value="BDL">BDL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Quẹt thẻ</h3>
                    </div>
                    <div class="card-body" style="padding:12px;">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name=""  id="user_update" placeholder="Quẹt thẻ ở đây" autocomplete="off" autofocus>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-5">
                                        IDNV: <span id="idnv"></span>
                                    </div>
                                    <div class="col-md-7">
                                        Họ tên: <span id="name"></span>
                                    </div>
                                    <div class="col-md-5">
                                        Tổng giờ: <span id="sum_hrs"></span>
                                    </div>
                                    <div class="col-md-7">
                                        Tổng SAH: <span id=""></span>
                                    </div>
                                    <span id="shift" style="display: none;"></span>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-5">
                                        ID tổ trưởng: <span id="idtt"></span>
                                    </div>
                                    <div class="col-md-7">
                                        Họ tên tổ trưởng: <span id="namesup"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" onclick="add_data()">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin</h3>
                    </div>
                    <div class="card-body" style="padding:12px;">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên</th>
                                            <th>Công đoạn</th>
                                            <th>Giờ bắt đầu</th>
                                            <th>Giờ kết thúc</th>
                                            <th>Số giờ</th>
                                            <th>Ca</th>
                                        </tr>
                                    </thead>
                                    <tbody id="main-tb">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    
    $("#user_update").on("change", function () {
        loading_user()
    });

    function loading_user() {
        $.ajax({
        url: "/load-user",
        method: "POST",
        data: {
            rfid : $("#user_update").val()
        },
        dataType: "json",
      })
        .done(function (response) {
          console.log(response);
          if (response.lenth == 0) {
            alert("Không tìm thấy nhân viên");
            $("#idnv").text('');
            $("#name").text('');
            $("#shift").text('');
            $("#sum_hrs").text('');
            return;
          } else {
            try {
              $("#user_update").val("");
              var data = $.extend({}, response);
              console.log(data);
              let check_position = (response[0].Position).includes("CUTTING SUPERVISOR");
              console.log(check_position)
              if (check_position == true) {
                console.log('to truong')
                $("#idtt").text(response[0].EmployeeID);
                $("#namesup").text(response[0].Name);
              } else {
                $("#idnv").text(response[0].EmployeeID);
                $("#name").text(response[0].Name);
                $("#shift").text(response[0].Shift);
                get_sum_hours()
              }
            } catch {
              $("#idnv").text('');
              $("#name").text('');
              $("#shift").text('');
              $("#sum_hrs").text('');
              return;
            }
          }
        })
    }

    function add_data() {
        if ($('#idnv').text() == '') {
            alert("Quẹt thẻ xong mới bấm xác nhận");
            return
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res_result = this.responseText;
                res_result = JSON.parse(res_result);
                console.log(res_result)
                if (res_result['status'] == true) {
                    console.log('chot gio nha');
                    let text = "Xác nhận chốt giờ ở cụm "+res_result['msg']+"";
                    if (confirm(text) == true) {
                        if ($('#idtt').text() == '') {
                            alert("Tổ trưởng chưa quẹt thẻ");
                            return
                        }
                        console.log("You pressed OK!");
                        var xhttp = new XMLHttpRequest();
                        event.preventDefault();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var res_result=this.responseText
                                console.log(res_result)
                                if (res_result == 'done') {
                                    $("#idnv").text('');
                                    $("#name").text('');
                                    $("#shift").text('');
                                    $("#sum_hrs").text('');
                                    $("#idtt").text('');
                                    $("#namesup").text('');
                                    setTimeout(function() {
                                        load_data()
                                    }, 300);
                                }
                            }
                        };
                        xhttp.open("post", '/tem-chung/update_timeout', true);
                        xhttp.setRequestHeader("Content-type", "application/json");
                        data_send = {
                            id : $('#idnv').text(),
                        };
                        xhttp.send(JSON.stringify(data_send));
                    } else {
                        console.log("Cancel");
                    }
                } else {
                    get("/tem-chung/more-than-2-rows?id=" + $('#idnv').text())
                    .then(function(data) {
                        if (data.length > 0) {
                            console.log(data[0]['count'])
                            if (data[0]['count'] > 0) {
                                if ($("#idtt").text() == '') {
                                    alert('Từ lần 2 yêu cầu quẹt thẻ tổ trưởng')
                                    return
                                }
                            }
                            // insert data
                            var xhttp = new XMLHttpRequest();
                            event.preventDefault();
                            xhttp.onreadystatechange = function() {
                                if (this.readyState == 4 && this.status == 200) {
                                    var res_result=this.responseText
                                    console.log(res_result)
                                    if (res_result == 'done') {
                                        $("#idnv").text('');
                                        $("#name").text('');
                                        $("#shift").text('');
                                        $("#sum_hrs").text('');
                                        $("#idtt").text('');
                                        $("#namesup").text('');
                                        setTimeout(function() {
                                            load_data()
                                        }, 300);
                                    }
                                }
                            };
                            xhttp.open("post", '/tem-chung/insert-data', true);
                            xhttp.setRequestHeader("Content-type", "application/json");
                            data_send = {
                                id : $('#idnv').text(),
                                name : $('#name').text(),
                                shift : $('#shift').text(),
                                cluster : $('#SelectCluster').val(),
                                operation: $('#SelectOperation').val(),
                            };
                            xhttp.send(JSON.stringify(data_send));

                        } else {
                            alert('Có lỗi xãy ra')
                        }
                    });


                    // var xhttp = new XMLHttpRequest();
                    // event.preventDefault();
                    // xhttp.onreadystatechange = function() {
                    //     if (this.readyState == 4 && this.status == 200) {
                    //         var res_result=this.responseText
                    //         console.log(res_result)
                    //         if (res_result == 'done') {
                    //             // load_data()
                    //             $("#idnv").text('');
                    //             $("#name").text('');
                    //             $("#shift").text('');
                    //             $("#sum_hrs").text('');
                    //             setTimeout(function() {
                    //                 load_data()
                    //             }, 300);
                    //         }
                    //     }
                    // };
                    // xhttp.open("post", '/tem-chung/insert-data', true);
                    // xhttp.setRequestHeader("Content-type", "application/json");
                    // data_send = {
                    //     id : $('#idnv').text(),
                    //     name : $('#name').text(),
                    //     shift : $('#shift').text(),
                    //     cluster : $('#SelectCluster').val(),
                    //     operation: $('#SelectOperation').val(),
                    // };
                    // xhttp.send(JSON.stringify(data_send));
                }
            }
        };
        xhttp.open("GET", "/tem-chung/check-not-timeout?id=" + $('#idnv').text(), true);
        xhttp.send();
    }
    load_data()
    function load_data() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res_result = this.responseText;
                list = JSON.parse(res_result);
                console.log(list)
                var rr = "";
                if (list.length > 0) {
                    for (var i = 0; i < list.length; i++) {
                        var row =
                            "<tr><td>" +
                            list[i]["id"] +
                            "</td><td>" +
                            list[i]["name"] +
                            "</td><td>" +
                            list[i]["operation"] +
                            "</td><td>" +
                            list[i]["time_in_str"] +
                            "</td><td>" +
                            (list[i]["time_out_str"] == null ? '': list[i]["time_out_str"]) +
                            "</td><td>" +
                            (list[i]["diff"] == null ? '': list[i]["diff"]) +
                            "</td><td>" +
                            list[i]["shift"] +
                            "</td></tr>";
                        rr = rr + row;
                    }
                    document.getElementById("main-tb").innerHTML = rr;
                } else {
                    document.getElementById("main-tb").innerHTML = '';
                }
            }
        };
        xhttp.open("GET", "/tem-chung/load-data?cluster="+$('#SelectCluster').val(), true);
        xhttp.send();
    }
    
    $("#SelectCluster").on('change', function (e) {
        // var valueSelected = this.value;
        load_data()
        if ($('#idnv').text() != '') {
            get_sum_hours()
        }
    });

    function get_sum_hours() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res_result = this.responseText;
                res_result = JSON.parse(res_result);
                console.log(res_result)
                if (res_result[0]['sum_hours'] == null) {
                    $('#sum_hrs').text(0)
                } else {
                    $('#sum_hrs').text(res_result[0]['sum_hours'])
                }
            }
        };
        xhttp.open("GET", "/tem-chung/get-sum-hours?id=" + $('#idnv').text()+"&cluster="+$('#SelectCluster').val(), true);
        xhttp.send();
    }

    function get(requestURL) {
        return new Promise(function(resolve, reject){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var res_result = this.responseText;
                    list = JSON.parse(res_result);
                    resolve(list);
                }
            };
            xhttp.open("GET", requestURL, true);
            xhttp.send();
        });
    }
</script>
