
<style>
    .mdl-layout__drawer {
        width: 350px;
        left: -250px;
    }
    .mdl-layout__drawer.is-visible {
        left: 0;
    }
    .abc {
        color:black;
    }
</style>
<div class="mdl-layout__drawer" style="border: none;">
    <div style="max-width: 100%; min-height: 80px; background-image: url('../Image/2.jpg');
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">WAREHOUSE</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    
    <nav class="mdl-navigation">
        <style>
            .abc:hover{
                color:indigo;
            }
        </style>
        <div style="margin-left: 40px;"><b>AutoKanban</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/Phubai1">
            <i class="material-icons" style="margin-right: 20px;">looks_one</i>
            Phu Bai 1
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/Phubai2">
            <i class="material-icons" style="margin-right: 20px;">looks_two</i>
            Phu Bai 2
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/PhubaiIE">
            <i class="material-icons" style="margin-right: 20px;">looks_3</i>
            Phu Bai IE
        </a>
        <!-- <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/Cutting">
            <i class="material-icons" style="margin-right: 20px;">looks_3</i>
            Cutting
        </a> -->
        <hr>
        <div style="margin-left: 40px;"><b>Vận Hành</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/Cutpart">
            <i class="material-icons" style="margin-right: 20px;">storage</i>
            Nhận Cutpart
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/Ultilization">
            <i class="material-icons" style="margin-right: 20px;">near_me</i>
            Ultilization
        </a>
        <!-- <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Warehouse/OffStandard">
            <i class="material-icons" style="margin-right: 20px;">work_off</i>
            Off Standard
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/AutoKanban">
            <i class="material-icons" style="margin-right: 20px;">question_answer</i>
            Phát Tem & Auto Kanban
        </a> -->
        <hr>
        <!-- <h5>Thông tin</h5> -->
        <div style="margin-left: 40px;"><b>Thông Tin</b></div>
        <a class="mdl-navigation__link abc" style="color: black; font-size: 14px;" href="/Warehouse/CutpartInfo">
            <i class="material-icons" style="margin-right: 20px;">replay</i>
            Thông tin Cutpart
        </a>
        <!-- <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/MixSolve">
            <i class="material-icons" style="margin-right: 20px;">offline_bolt</i>
            Kiểm Tra Tem Trùng
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/Reports">
            <i class="material-icons" style="margin-right: 20px;">description</i>
            Báo Cáo Khác
        </a> -->
        <hr>
        <!-- <h5>Trở Về</h5> -->
        <div style="margin-left: 40px;"><b>Trở Về</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px;">keyboard_backspace</i>
            Trang Chủ
        </a>
    </nav>
</div>