<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
      width: 400px;
      height: 80%;
      margin: 10px auto;
      margin-top: 50px;
      border-radius: 10px;
    }
</style>

<!-- <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background-color: indigo; color: white;">
        <h2 class="mdl-card__title-text">GIỚI THIỆU</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <h5>Đây là trang Web được phát triển để phục vụ cho nhà máy HanesBrands Phú Bài Huế.</h5>
        <h6>Với mục tiêu:</h6>
        <li style="font-size: 16px; color: black; margin-bottom: 10px;">Hướng đến Công nghệ 4.0</li>
        <li style="font-size: 16px; color: black; margin-bottom: 10px;">Đa kết nối, BigData</li>
        <li style="font-size: 16px; color: black; margin-bottom: 10px;">Một nền tảng hệ thống duy nhất</li>
        <h6>Chúc mọi người làm việc hiệu quả trên nền tảng mới!</h6>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="font-size: 20px;">
            BẮT ĐẦU
        </a>
    </div>
</div> -->