<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Mechanic Management System</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> MECHANIC SYSTEM</h1>
        <!-- <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
    </div>
</div>
<div class="container">
    <div class="col-sm-7 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Vui Lòng Đăng nhập vào hệ thống</h1>
        <br>
        <!-- hiển thị mọi tin nhắn được trả lại từ việc đăng nhập -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Đăng nhập</button>
        </form>
        <hr>
        <!-- <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p> -->
    </div>
</div>
</body>
</html>