<style>
    .mdl-layout__drawer {
        width: 350px;
        left: -250px;
    }

    .mdl-layout__drawer.is-visible {
        left: 0;
    }

    .abc {
        color: black;
    }
</style>
<div class="mdl-layout__drawer" style="border: none;">
    <div style="max-width: 100%; min-height: 80px; background-image: url('../Image/2.jpg');
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">Sản Xuất</span>
        <div class="mdl-layout-spacer"></div>
    </div>

    <nav class="mdl-navigation">
        <style>
            .abc:hover {
                color: indigo;
            }
        </style>
        <div style="margin-left: 40px;"><b>Vận Hành</b></div>
        <!-- <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/scanlocation">
            <i class="material-icons" style="margin-right: 20px">perm_contact_calendar</i>
            SCAN VỊ TRÍ 
        </a> -->
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/PayrollCheck">
            <i class="material-icons" style="margin-right: 20px;">monetization_on</i>
            Kiểm Tra Tem Lương
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/check_packer_wip">
            <i class="material-icons" style="margin-right: 20px;">satellite</i>
            Kiểm Tra WIP Packer
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;"
            href="http://pbv-13m5xf3/linebalancing">
            <i class="material-icons" style="margin-right: 20px;">explore</i>
            Cân Bằng Chuyền
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="http://pbvpweb01:88/sewing-mechanic-downtime-manage">
            <i class="material-icons" style="margin-right: 20px;">engineering</i>
            Mechanic
        </a>
        <!-- http://pbv-13m5xf3/dailylinebalancing -->
        <!-- <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/OffStandard">
            <i class="material-icons" style="margin-right: 20px;">work_off</i>
            Off Standard
        </a> -->
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="http://pbv-13m5xf3/dailylinebalancing">
            <i class="material-icons" style="margin-right: 20px;">work_off</i>
            Off Standard
        </a>


        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/AutoKanban">
            <i class="material-icons" style="margin-right: 20px;">question_answer</i>
            Phát Tem & Auto Kanban
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>Thông Tin</b></div>
        <a class="mdl-navigation__link abc" style="color: black; font-size: 14px;" href="/Production/Production">
            <i class="material-icons" style="margin-right: 20px;">repartition</i>
            Sản Lượng Theo Chuyền
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/MixSolve">
            <i class="material-icons" style="margin-right: 20px;">web_stories</i>
            Kiểm Tra Tem Trùng
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/Reports">
            <i class="material-icons" style="margin-right: 20px;">airline_stops</i>
            Kiểm tra CutLot
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>Nghiệp vụ</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/Reports_OffStandard">
            <i class="material-icons" style="margin-right: 20px;">local_offer</i>
            Báo cáo Off Standard
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;"
            href="/Production/OffStandard_IE_Approve">
            <i class="material-icons" style="margin-right: 20px;">assignment</i>
            Phê duyệt OffStandard
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/Production/pad_change_sah">
            <i class="material-icons" style="margin-right: 20px;">video_settings</i>
            Yêu cầu đổi SAH PAD
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>Trở Về</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px;">keyboard_backspace</i>
            Trang Chủ
        </a>
    </nav>
</div>