<!DOCTYPE html>
<html lang="en" dir="ltr">
    <header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-indigo.min.css" />
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> -->
    <link rel="stylesheet" href="/JS/getmdl/getmdl-select.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cân bằng chuyền</title>
    </header>
    <body>
        <iframe src="http://10.113.90.45/ie/linebalancing" style="width: 100%; height: 100vh;">
        </iframe>
    </body>
</html>