<div class="sidebar" data-background-color="purple">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/">
                        <i class="fas fa-home text-success"></i>
                        <p>Trang chủ</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section text-info">QA Laboratory </h4>
                </li>
                <li class="nav-item active submenu">
                    <a href="/quality-laboratory">
                        <i class="
                        fas fa-bezier-curve text-success"></i>
                        <p>Nhiệt độ & Độ ẩm</p>
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--  <div class="collapse show bg-white" id="ieinnovation"> -->