<a href="/AM/inv" onclick="w3_close()" id="menu_inv" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>inv by plant</a> 
<a href="/AM/machine-disposal" id="menu_dis" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-remove fa-fw w3-margin-right"></i>machine disposal</a>
<a href="/AM/detailmachine" id="menu_detail" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-braille fa-fw w3-margin-right"></i>Detail by machine</a> 
<a href="/AM/dashboard" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw w3-margin-right"></i>Dash board</a>