<!DOCTYPE html>
<html>
<title>MMS</title>
<!-- <meta charset="UTF-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/JS/boostrap/w3.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- day picker -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>





<style>
h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica","Arial",sans-serif;
}
a,li{
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.w3-bar-block .w3-bar-item {padding:20px}
body{
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* background-image: url("/public/imgbook/bodyBG2.jpg"); */
  background-color: whitesmoke;
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Just for styling */
.styling {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    /* height: 150px;
    overflow: auto; */
  }
  table, th, td {
    border: 1px solid black;
  }
  table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
  th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
  /* .fixed_header{
      width: 400px;
      table-layout: fixed;
      border-collapse: collapse;
  }
  
  .fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 100px;
  } */
  
  /* .fixed_header thead tr {
     display: block;
  }
  
  .fixed_header thead {
    background: #314261;
    color:#6C3483 ;
  }
  
  .fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
  } */
    div.round1 {
    border: 2px solid #6C3483 ;
    border-radius: 5px;
    }
    body {
      background-color: rgb(252, 250, 255);
      font: 400 15px Lato, Lato;
      line-height: 1.8;
      color: #210b3a;
    }
    h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
    }  
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 25px 25px;
      font-family: times, serif;
    }
    .bg-grey {
      background-color: #f6f6f6;
    }
    .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
    }
    .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
    }
    .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
    }
    .carousel-indicators li {
      border-color: #f4511e;
    }
    .carousel-indicators li.active {
      background-color: #f4511e;
    }
    .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
    }
    .item span {
      font-style: normal;
    }
    .panel {
      border: 1px solid #6C3483 ; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
    }
    .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }
    .panel-footer .btn:hover {
      border: 1px solid #6C3483 ;
      background-color: #fff !important;
      color: #6C3483 ;
    }
    .panel-heading {
      color: #fff !important;
      background-color: #6C3483  !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .panel-footer {
      background-color: white !important;
    }
    .panel-footer h3 {
      font-size: 32px;
    }
    .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
    }
    .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
    }
    .navbar {
      margin-bottom: 0;
      background-color: #6C3483 ;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Arial;
    }
    .navbar li a, .navbar .navbar-brand {
      color: black !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #6C3483  !important;
      background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }
    footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
    }
  
    @keyframes slide {
      0% {
        opacity: 0;
        transform: translateY(70%);
      } 
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    @-webkit-keyframes slide {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      } 
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
    @media screen and (max-width: 768px) {
      .col-sm-4 {
        text-align: center;
        margin: 25px 0;
      }
      .btn-lg {
        width: 100%;
        margin-bottom: 35px;
      }
    }
    @media screen and (max-width: 480px) {
      .logo {
        font-size: 150px;
      }
    }
    .mdl-layout__header {
        width: 100%;
        height: 50px;
        background-color: rgb(197, 37, 136);
        color: white;
        font-weight: bold;

    }
    .mdl-layout__drawer {
                width: 360px;
                left: -250px;
            }

            .mdl-layout__drawer.is-visible {
                left: 0;
            }

            .abc {
                color: black;
            }

</style>
<body>
    <!-- Sidebar (hidden by default) -->
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:100;width:25%;min-width:300px; background-image: url(/public/imgbook/bodyBG.jpg);" id="mySidebar">
      <a href="/mechome" class="w3-bar-item w3-button" ><span class="glyphicon glyphicon-home" style="padding-right: 20px;"></span>Trang Chủ</a>
      <a href="/mechome" class="w3-bar-item w3-button w3-blue"><span class="glyphicon glyphicon-inbox" style="padding-right: 20px;"></span>Quét thẻ downtime</a>
      <a href="/mec/updateloc" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-refresh" style="padding-right: 20px;"></span>Cập nhật vị trí</a>
      <a href="/mec/update_loc_pi" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-refresh" style="padding-right: 20px;"></span>Cập nhật vị trí PI</a>
      <a href="/mec/machineupdate" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-refresh" style="padding-right: 20px;"></span>Cập nhật thông tin máy</a>
      <a href="/mec/report" id="report_link" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-list-alt" style="padding-right: 20px;"></span>Báo cáo Realtime</a>
      <a href="/get/autoclose" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-list-alt" style="padding-right: 20px;"></span>danh sách máy chốt cuối ca chưa sửa</a>
      <a href="/mec/partissue" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-usd" style="padding-right: 20px;"></span>Cấp / Phát phụ tùng</a>
      <a href="/mec/machinemovelog" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-refresh" style="padding-right: 20px;"></span>thông tin di chuyển máy</a>
      <a href="/mec/setupgroup" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-refresh" style="padding-right: 20px;"></span>Thiết lập nhóm chuyền</a>
      <a href="#" class="w3-bar-item w3-button w3-purple"><span class="glyphicon glyphicon-duplicate" style="padding-right: 20px;"></span>Mechanic KPI</a>
    </nav>
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-right" style="display:none;z-index:2;width:30%;min-width:300px; right: 0;" id="mySidebar_right">
      <a href="javascript:void(0)" class="w3-bar-item w3-button" id="name">Thông tin user đăng nhập</a>
      <div class="w3-container w3-card-4 w3-light-grey" style="display:none;">
        <a id="logout_ref" href="/logout" class="w3-bar-item w3-button">Logout</a>
      </div>
      <div class="form-group">
        <label for="sel_shift">Ca làm việc hệ thống: <%= shift %></label>
        <select class="form-control" name="sel_shift" id="sel_shift">
          <option>BALI</option>
          <option>RITMO</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <button type="button" value="submit" class="btn btn-primary" style="background-color: #4B0082;" onclick="logout()"><span class="glyphicon glyphicon-floppy-saved"></span> Đăng xuất</button>
      </div>
    </nav>
    <!-- Top menu -->
    <div class="w3-top w3-center">
      <div class="w3-purple w3-xlarge" style="width: 100%;margin:auto;">
        <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
        <div class="w3-right w3-padding-16" onclick="open_signup()" >
        <span class="glyphicon glyphicon-user" style="padding-right: 10px;" ></span><span id="username"><%= user %></span></div>
        <div class="w3-center w3-padding-16" style="margin: 0 auto;"><h3 style="margin: 0 auto;">HỆ THỐNG GHI NHẬN THỜI GIAN MÁY HỎNG</h3></div>
        <a href="/mec/report" id="refresh" style="display: none;"></a>
      </div>
    </div>
      
    <!-- !PAGE CONTENT! -->
    <div class="w3-container w3-center" style="width: 100%;margin-top:50px; margin-left: auto;" onclick="w3_close()">
      <hr id="about">
      <!-- About Section -->
      <!-- Home Page -->

      <div class="w3-container" id="home_page" style="padding: 0px; margin: 0;">  
        <!-- nhập thông tin máy hỏng -->
      <!-- tình trạng máy trên chuyền -->
        <div class="w3-rest" style="border: blueviolet;">
          <div class="container" onclick="close_reg()" style="margin: auto;">
            <!-- <div class="col-md-2 w3-left">
              <div class="form-group">
                <select class="form-control" name="sel_group" id="sel_group">
                  <option>001-007</option>
                  <option>008-014</option>
                  <option>015-021</option>
                  <option>022-028</option>
                  <option>029-034</option>
                  <option>035-042</option>
                  <option>043-050</option>
                  <option>051-058</option>
                  <option>059-066</option>
                  <option>067-074</option>
                  <option>075-082</option>
                  <option>083-090</option>
                  <option>091-098</option>
                  <option>099-105</option>
                  <option>106-111</option>
                  <option>112-118</option>
                  <option>200-203</option>
                  <option>204-210</option>
                  <option>211-217</option>
                  <option>218-224</option>
                  <option>225-231</option>
                  <option>232-234</option>
                  <option>239-245</option>
                  <option>246-252</option>
                  <option>246-252</option>
                  <option>253-259</option>
                  <option>260-266</option>
                  <option>277-283</option>
                  <option>284-290</option>
                  <option>291-297</option>
                  <option>298-304</option>
                  <option>305-311</option>
                  <option>312-318</option>
                  <option>319-325</option>
                  <option>326-332</option>
                  <option>333-339</option>
                  <option>340-346</option>
                  <option>347-353</option>
                </select>
              </div>
              <div class="form-group">
                <button type="button" value="submit" class="btn btn-primary" style="background-color: #4B0082;" onclick="load_group()"><span class="glyphicon glyphicon-search"></span> Xem thông tin</button>
              </div>
            </div> -->
            <div class="w3-row w3-center" style="background-color: white;">
              <!-- <h2 id="detail_infor" style="color: blueviolet; margin: auto;">Báo cáo thông tin máy hỏng</h2> -->
              <!-- <h3 id="detail_infor" style="color: blueviolet;">RITMO: Tổng thợ máy: 50 , đang sửa máy: 1, có thể giao việc: 49</h3> -->
            </div>
          </div>
          <br>
          <div class="row" style="overflow-x: scroll; padding: 0px; margin: auto; width: 100%;">
            <div class="table-responsive" style="height: 615px; width: 100%; margin-left: auto; margin-right: auto;">
              <h2 style="color: blueviolet; margin: auto;">tổng hợp thông tin theo Zone / nhóm chuyền</h2>
              <br>
              <table id="table_GROUPSUM" class="table" style="margin-left: auto; margin-right: auto; font-size: 18px;" ondblclick="detail_group()">
                <!-- <table id="table_content"> style="height: 310px;" -->
                <thead class="w3-cyan">
                  <tr >
                    <th >ZONE</th>
                    <th >GROUP LINE</th>
                    <th >MÁY HỎNG</th>
                    <th >MÁY ĐANG SỬA</th>
                    <th >TỔNG MÁY</th>
                    <th >TỔNG DOWNTIME (phút)</th>
                    <th >% MÁY HOẠT ĐỘNG TỐT</th>
                  </tr>
                </thead>  
                <tbody>
                </tbody>
              </table>
            </div>
            <br>
            <div class="w3-row w3-blue-grey" style="width: 100%; margin-left: auto; margin-right: auto;"></div>
            <div class="w3-row w3-blue-grey" style="width: 100%; margin-left: auto; margin-right: auto; padding-bottom: 10px; padding-top: 10px;">
                <form id="form_filter" method="" style="width: 100%; font-size: 16px;">
                  <div  class="col-md-3"></div>
                  <div  class="col-md-3"></div>
                  <div  class="col-md-2">
                    <div class="form-group">
                      <label class="w3-left" for="sel_dk">Điều kiện hoạt động:</label>
                      <select class="form-control" name="sel_dk" id="sel_dk" onchange="filterdata()">
                        <option>đang hỏng</option>
                        <option>Tất cả</option>
                        <option>đang sửa</option>
                        <option>đã sửa</option>
                      </select>
                    </div>
                  </div>
                  <div  class="col-md-2 w3-left">
                      <!-- DAY PICKUP -->
                      <div class="bootstrap-iso">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-9 col-xs-3 col-lg-12">
                            <!-- Form code begins -->
                                <div class="form-group"> <!-- Date input -->
                                  <div>
                                    <label class="control-label w3-left" for="date"><span class="glyphicon glyphicon-calendar"></span> chọn ngày:</label>
                                  </div>
                                  <div>
                                    <input class="form-control" id="date" name="date" placeholder="YYYY/MM/DD" type="text" value="<%= dat %>"/>
                                  </div>
                                </div>
                            </div>
                          </div>    
                        </div>
                      </div>
                      <!-- DAY PICKUP -->
                  </div>
                  <div class="col-md-1">
                    <br/>
                    <div>
                      <!-- Submit button -->
                      <button id="search_data" class="btn btn-primary" style="background-color: #4B0082;" type="button" onclick="filterdata()"><span class="glyphicon glyphicon-search"></span> LỌC DỮ LIỆU</button>
                    </div>
                  </div>
                </form>
            </div>
            <div class="w3-row w3-blue-grey" style="width: 100%; margin-left: 0;"></div>
            <br>
            <div class="table-responsive" style="height: 615px; width: 100%; margin-left: auto; margin-right: auto;">
              <h2 style="color: blueviolet; margin: auto;">Chi tiết:</h2>
              <table id="table_ALL" class="w3-table w3-striped w3-bordered" style="margin-left: auto; margin-right: auto; font-size: 16px;" ondblclick="detail_group()">
                <!-- <table id="table_content"> style="height: 310px;" -->
                <thead class="w3-aqua">
                  <tr >
                    <th >ZONE</th>
                    <th >GROUP</th>
                    <th >LINE</th>
                    <th >TAG MÁY</th>
                    <th >CÔNG ĐOẠN</th>
                    <th >LOẠI LỖI</th>
                    <th >TRẠNG THÁI</th>
                    <th >BẮT ĐẦU</th>
                    <th >PHÚT HỎNG</th>
                    <th >ID MỞ</th>
                    <th >TÊN NV MỞ</th>
                    <th >ID ĐÓNG</th>
                    <th >TÊN NV ĐÓNG</th>
                    <th >THỢ MÁY</th>
                  </tr>
                </thead>  
                <tbody>
                </tbody>
              </table>
            </div>



          </div>
        </div>
      </div>


      <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32 w3-center">
    </footer>
    <!-- End page content -->
    </div>
        <!-- ???????????????????????????????????????????????????????????????????????????????????????? -->
    <button id="dialog2" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Thông tin thợ máy</strong><span id="sys_confirm">.</span></h4>
          </div>
          <div class="modal-body">
            <form id="reg_repair" action="javascript:">
              <label for="idmc2">mã máy:</label><br>
              <input class="form-control w3-left" type="number" name="idmc2" id="idmc2">
              <p>---</p>
              <label id="mc_type">loại máy:</label><br>
              <label id="broken_code">lỗi:</label><br>
              <br>
              <div class="modal-body" id="closeB">
                <label class="form-control w3-left">Quét mã thẻ thợ máy:</label>
                <input class="form-control w3-center" style="background-color:  rgb(230, 231, 206);" onkeypress="get_mec_name()" placeholder="đưa chuột vào và quét thẻ" type="number" name="id_nvtm" id="id_nvtm">
                <p>---------------------</p>
                <label class="form-control w3-left" id="name_nvtm">Tên thợ máy</label>
                <p>---------------------</p>
              </div>
              <div class="modal-body" id="closeA" style="display: none;">
                <label class="form-control w3-left">Quét mã thẻ nhân viên chốt giờ:</label>
                <input class="form-control w3-center" style="background-color: rgb(230, 231, 206);" onkeypress="get_name4()" placeholder="đưa chuột vào và quét thẻ" type="number" name="employee_id4" id="employee_id4">
                <label class="form-control w3-left" id="emp_name4">Tên nhân viên</label>
              </div>
              <br>
              <div class="modal-body">
                <div class="col-md-5">
                  <button type="button" value="submit" class="btn btn-primary" style="background-color: #4B0082;" onclick="start_repair()"><span class="glyphicon glyphicon-wrench"></span> Bắt đầu sửa máy</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <button type="button" value="submit" class="btn btn-primary" style="background-color: #4B0082;" onclick="close_advance()"><span class="glyphicon glyphicon-lock"></span> đóng không cần sửa</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="close_dialog2" style="display: none;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    <!-- ???????????????????????????????????????????????????????????????????????????????????????? -->
    <!-- ???????????????????????????????????????????????????????????????????????????????????????? -->
    <button id="dialog_finish" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#FModal">Open Modal</button>
    <!-- Modal -->
    <div class="modal fade" id="FModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Thông tin sửa máy</strong><span id="sys_confirm3">.</span></h4>
          </div>
          <div class="modal-body">
            <form id="finish_repair" action="javascript:">
              <label for="idmc3">mã máy:</label><br>
              <input class="form-control w3-left" type="number" name="idmc3" id="idmc3">
              <p>---</p>
              <label id="mc_type3">loại máy:</label><br>
              <label id="broken_code3" style="display: none;">lỗi:</label><br>
              <div class="modal-body" id="tm_close">
                <label class="form-control w3-left" for="mccode">code hỏng máy:</label>
                <select class="form-control" name="mccode" id="mccode" style="background-color: yellow;">
                  <option>002 không an toàn (thiếu bảo hộ/ rò điện...)</option>
                  <option>003 máy bị gãy kim</option>
                  <option>100 đổi máy - chuyển đổi mã hàng</option>
                  <option>401 lỗ kim</option>
                  <option>500 sụp mí</option>
                  <option>502 sai mật độ mũi chỉ</option>
                  <option>503 bỏ mũi</option>
                  <option>504 máy nghiến</option>
                  <option>505 đứt chỉ / bung chỉ</option>
                  <option>520 Xì</option>
                  <option>521 kẹp vải</option>
                  <option>522 máy chả dầu</option>
                  <option>528 nhăn, bai, sạc</option>
                  <option>534 hỏng bờ</option>
                  <option>542 lè vải</option>
                  <option>558 chỉ dài</option>
                  <option>570 lè thun</option>
                  <option>600 tưa vải</option>
                  <option>601 chờ phụ tùng</option>
                  <option>620 máy auto bind panel không xếp được</option>
                  <option>PM</option>
                  <option>Gay_Kim (thay kim gãy)</option>
                </select>
                <p>---------------------</p>
                <label class="form-control w3-left">Quét mã thẻ thợ máy:</label>
                <input class="form-control w3-center" style="background-color: rgb(230, 231, 206);" onkeypress="get_mec_name3()" placeholder="đưa chuột vào và quét thẻ" type="number" name="id_nvtm3" id="id_nvtm3">
                <p>---------------------</p>
                <label class="form-control w3-left" id="name_nvtm3">Tên thợ máy</label>
                <p>---------------------</p>
                <!-- <label class="form-control w3-left">yêu cầu spare part:</label>
                <input class="form-control w3-center" style="background-color: rgb(230, 231, 206);" placeholder="nhập vào id part" type="number" name="id_part" id="id_part"> -->
              </div>
              <div class="modal-body" id="nvclose" style="display: none;">
                <label class="form-control w3-left">Quét mã thẻ nhân viên chốt giờ:</label>
                <input class="form-control w3-center" style="background-color: rgb(230, 231, 206);" onkeypress="get_name2()" placeholder="đưa chuột vào và quét thẻ" type="number" name="employee_id3" id="employee_id3">
                <label class="form-control w3-left" id="emp_name3">Tên nhân viên</label>
              </div>
              <p>---------------------</p>
              <div class="modal-footer">
                <div class="col-md-5">
                  <button type="button" value="submit" class="btn btn-primary" style="background-color: #4B0082;" onclick="finish_repair()"><span class="glyphicon glyphicon-ok-sign"></span> đóng ticket</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <button type="button" value="submit" class="btn btn-primary" style="background-color: #4B0082;" onclick="req_part()"><span class="glyphicon glyphicon-lock"></span> yêu cầu part</button>
                </div>
              </div>
              
              <br>
            </form>
          </div>
          <div class="modal-footer">
            <button id="close_dialog3" style="display: none;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    <!-- ???????????????????????????????????????????????????????????????????????????????????????? -->
        <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32 w3-center">
    </footer>

</body> 

<script type="text/javascript">

          $(document).ready(function(){
              var date_input=$('input[name="date"]'); //our date input has the name "date"
              var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
              date_input.datepicker({
                  format: 'yyyy/mm/dd',
                  container: container,
                  todayHighlight: true,
                  autoclose: true,
              })
          });
          window.addEventListener('load', function () {
            filterdata()
          })
          setInterval(function(){ 
            filterdata_all();
          }, 120000);
          $('#FModal').on('shown.bs.modal', function () {
            document.getElementById("employee_id3").value="";
            document.getElementById("emp_name3").innerText="Tên nhân viên";
            document.getElementById("name_nvtm3").innerText="Tên thợ máy";
            document.getElementById("id_nvtm3").value="";
            document.getElementById("id_nvtm3").disabled=false;
            document.getElementById("id_nvtm3").focus();
          })  

          $('#myModal').on('shown.bs.modal', function () {
            document.getElementById("closeB").style.display="inline";
            document.getElementById("closeA").style.display="none";
            document.getElementById("employee_id4").value="";
            document.getElementById("emp_name4").innerText="Tên nhân viên";
            document.getElementById("name_nvtm").innerText="Tên thợ máy";
            document.getElementById("id_nvtm").value="";
            document.getElementById("id_nvtm").disabled=false;
            document.getElementById("id_nvtm").focus();
          })  
          function open_reg(){
            document.getElementById("downtime_reg").style.display="inline";
            document.getElementById("employee_id").value="";
            document.getElementById("emp_name").innerText="Tên nhân viên";
            document.getElementById("employee_id").focus();
          }
          function close_reg(){
            document.getElementById("machine_id").value=""
            document.getElementById("downtime_reg").style.display="none";
          }

          // Script to open and close sidebar
          var list_mc=JSON.stringify("");

          function req_part(){
            alert("thư viện part chưa sẵn sàng")
            return
            var thomay=document.getElementById("name_nvtm3").innerText;
            if (thomay=="Tên thợ máy"){
              document.getElementById("f_nvtm").style.display="inline";
              return;
            }
          }
          function get_mc_stt(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                var res_result=this.responseText

                if (res_result=="false"){
                  alert("Hệ thống lỗi vui lòng thử lại sau")
                } else{
                  sessionStorage.setItem('res_mc_stt',res_result);
                  info=JSON.parse(res_result)
                  console.log(info)
                  if (info.length>0){
                    var groupline=info[0].groupname
                    var wh=info[0].workhours
                    var slmc=info[0].slmc
                    var zone=info[0].Zone
                    var tilehoatdong=100
                    var hong=0
                    var sua=0
                    var down=0
                    var trHTML_ds='';
                    var ttdt=''
                    var tt="đã sửa"
                    for (i=0;i<info.length;i++){
                      if (info[i].STATUS==0){
                        tt="đã sửa"
                        ttdt+='<tr class="w3-sand"><td >'
                      }
                      if (info[i].STATUS==1){
                        tt="đang hỏng"
                        ttdt+='<tr class="w3-red"><td >'
                      }
                      if (info[i].STATUS==2){
                        tt="đang sửa"
                        ttdt+='<tr class="w3-lime"><td >'
                      }
                      if (info[i].STATUS==5){
                        tt="máy change style"
                        ttdt+='<tr class="w3-sand"><td >'
                      }
                      if (info[i].STATUS==6){
                        tt="đóng cuối ca"
                        ttdt+='<tr class="w3-sand"><td >'
                      }
                      ttdt+=info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';

                      if(info[i].groupname==groupline){
                        down=down+info[i].downtime
                        if (info[i].STATUS==1){
                          hong=hong+1
                        }
                        if (info[i].STATUS==2){
                          hong=hong+1
                          sua=sua+1
                        }

                      } else{
                        down=Math.round(down*100,0)/100
                        tilehoatdong=Math.round((100-down*100/(wh*slmc))*100,0)/100
                        if (hong>0){
                          trHTML_ds += '<tr class="w3-red"><td >'
                        } else{
                          trHTML_ds += '<tr class="w3-sand"><td >'
                        }
                        trHTML_ds += zone + '</td><td >' + groupline + '</td><td >' + hong + '</td><td>'+ sua +'</td><td >'+slmc+'</td><td >' + down+'</td><td >'+tilehoatdong+'</td></tr>';
                        groupline=info[i].groupname
                        zone=info[i].Zone
                        var wh=info[i].workhours
                        var slmc=info[i].slmc
                        hong=0
                        sua=0
                        down=0
                        tilehoatdong=100;
                        down=down+info[i].downtime
                        if (info[i].STATUS==1){
                          hong=hong+1
                        }
                        if (info[i].STATUS==2){
                          hong=hong+1
                          sua=sua+1
                        }

                      }
                      if (i==info.length-1){
                        down=Math.round(down*100,0)/100
                        tilehoatdong=Math.round((100-down*100/(wh*slmc))*100,0)/100
                        if (hong>0){
                          trHTML_ds += '<tr class="w3-red"><td >'
                        } else{
                          trHTML_ds += '<tr class="w3-sand"><td >'
                        }
                        trHTML_ds += zone + '</td><td >' + groupline + '</td><td >' + hong + '</td><td>'+ sua +'</td><td >'+slmc+'</td><td >' + down+'</td><td >'+tilehoatdong+'</td></tr>';
                      }
                    }
                    $('#table_GROUPSUM tbody').html(trHTML_ds)
                    $('#table_ALL tbody').html(ttdt)
                  }
                
                }
                }
              };
              xhttp.open("get", "/mec/queryReport", true);
              xhttp.send();
          }

          function filterdata(){
                      event.preventDefault();
                      var main_url="/mec/filterReport"
                      var frm = $('#form_filter');
                      $.ajax({
                          type: "post",
                          url: main_url,
                          data: frm.serialize(),
                          success: function (data) {
                            console.log(data)
                            if (data=="false"){
                              alert("Hệ thống lỗi vui lòng thử lại sau")
                            } else{
                              var ss=JSON.stringify(data)
                              sessionStorage.setItem('res_mc_stt',ss);
                              var info=data;
                              if (info.length>0){
                                var groupline=info[0].groupname
                                var wh=info[0].workhours
                                var slmc=info[0].slmc
                                var zone=info[0].Zone
                                var hong=0
                                var sua=0
                                var down=0
                                var trHTML_ds='';
                                var ttdt=''
                                var tt="đã sửa"
                                var dkloc=document.getElementById("sel_dk").value
                                var dkstt=0;
                                var tilehoatdong=100
                                for (i=0;i<info.length;i++){
                                  if (info[i].IDMC=="246976"){
                                    console.log(info[i].STATUS)
                                    console.log(info[i].Zone)
                                  }
                                  tt="đã sửa"
                                  if (info[i].STATUS==0){
                                    tt="đã sửa"
                                  }
                                  if (info[i].STATUS==1){
                                    tt="đang hỏng"
                                  }
                                  if (info[i].STATUS==2){
                                    tt="đang sửa"
                                  }
                                  if (info[i].STATUS==4){
                                      tt="máy PM"
                                      
                                    }
                                    if (info[i].STATUS==5){
                                      tt="máy change style"
                                      
                                    }
                                    if (info[i].STATUS==6){
                                      tt="đóng cuối ca"
                                      
                                    }
                                  if (dkloc=="Tất cả"){
                                    if (info[i].STATUS<7){
                                      if (info[i].STATUS==0){
                                       
                                        ttdt+='<tr class="w3-sand"><td >'
                                      }
                                      if (info[i].STATUS==1){
                                       
                                        ttdt+='<tr class="w3-red"><td >'
                                      }
                                      if (info[i].STATUS==2){
                                  
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      if (info[i].STATUS==4){
                                        tt="máy PM"
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      if (info[i].STATUS==5){
                                        tt="máy change style"
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      if (info[i].STATUS==6){
                                        tt="đóng cuối ca"
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      ttdt+=info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }
                                  if (dkloc=="đang sửa"){
                                    if (info[i].STATUS==2){
                                      ttdt+='<tr class="w3-lime"><td >' + info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }
                                  if (dkloc=="đang hỏng"){
                                    if (info[i].STATUS>=1 && info[i].STATUS<5 ){
                                      if (info[i].STATUS==0){
                                       
                                       ttdt+='<tr class="w3-sand"><td >'
                                     }
                                     if (info[i].STATUS==1){
                                      
                                       ttdt+='<tr class="w3-red"><td >'
                                     }
                                     if (info[i].STATUS==2){
                                 
                                       ttdt+='<tr class="w3-lime"><td >'
                                     }
                                     if (info[i].STATUS==4){
                                 
                                      ttdt+='<tr class="w3-yellow"><td >'
                                    }
                                      ttdt+= info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }
                                  if (dkloc=="đã sửa"){
                                    if (info[i].STATUS==0||info[i].STATUS==5||info[i].STATUS==6){
                                      ttdt+='<tr class="w3-sand"><td >' + info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }

                                  if(info[i].groupname==groupline){
                                    down=down+info[i].downtime
                                    if (info[i].STATUS==1){
                                      hong=hong+1
                                    }
                                    if (info[i].STATUS==2){
                                      hong=hong+1
                                      sua=sua+1
                                    }

                                  } else{
                                    down=Math.round(down*100,0)/100
                                    tilehoatdong=Math.round((100-down*100/(wh*slmc))*100,0)/100
                                    if (hong>0){
                                      trHTML_ds += '<tr class="w3-red"><td >'
                                    } else{
                                      trHTML_ds += '<tr class="w3-sand"><td >'
                                    }
                                    trHTML_ds += zone + '</td><td >' + groupline + '</td><td >' + hong + '</td><td>'+ sua +'</td><td >'+slmc+'</td><td >' + down+'</td><td >'+tilehoatdong+'</td></tr>';
                                    groupline=info[i].groupname
                                    zone=info[i].Zone
                                    var wh=info[i].workhours
                                    var slmc=info[i].slmc
                                    hong=0
                                    sua=0
                                    down=0
                                    tilehoatdong=100;
                                    down=down+info[i].downtime
                                    if (info[i].STATUS==1){
                                      hong=hong+1
                                    }
                                    if (info[i].STATUS==2){
                                      hong=hong+1
                                      sua=sua+1
                                    }

                                  }
                                  if (i==info.length-1){
                                    down=Math.round(down*100,0)/100
                                    tilehoatdong=Math.round((100-down*100/(wh*slmc))*100,0)/100
                                    if (hong>0){
                                      trHTML_ds += '<tr class="w3-red"><td >'
                                    } else{
                                      trHTML_ds += '<tr class="w3-sand"><td >'
                                    }
                                    trHTML_ds += zone + '</td><td >' + groupline + '</td><td >' + hong + '</td><td>'+ sua +'</td><td >'+slmc+'</td><td >' + down+'</td><td >'+tilehoatdong+'</td></tr>';
                                  }
                                }
                                $('#table_GROUPSUM tbody').html(trHTML_ds)
                                $('#table_ALL tbody').html(ttdt)
                              }
                            

                            }

                          },
                          error: function () {
                                alert("submit failed")
                          },
                      })

          }


          function filterdata_all(){
            var main_url="/mec/filterReport"
                      var frm = $('#form_filter');
                      $.ajax({
                          type: "post",
                          url: main_url,
                          data: frm.serialize(),
                          success: function (data) {
                            console.log(data)
                            if (data=="false"){
                              alert("Hệ thống lỗi vui lòng thử lại sau")
                            } else{
                              var ss=JSON.stringify(data)
                              sessionStorage.setItem('res_mc_stt',ss);
                              var info=data;
                              if (info.length>0){
                                var groupline=info[0].groupname
                                var wh=info[0].workhours
                                var slmc=info[0].slmc
                                var zone=info[0].Zone
                                var hong=0
                                var sua=0
                                var down=0
                                var trHTML_ds='';
                                var ttdt=''
                                var tt="đã sửa"
                                var dkloc=document.getElementById("sel_dk").value
                                var dkstt=0;
                                var tilehoatdong=100
                                for (i=0;i<info.length;i++){
                                  tt="đã sửa"
                                  if (info[i].STATUS==0){
                                    tt="đã sửa"
                                  }
                                  if (info[i].STATUS==1){
                                    tt="đang hỏng"
                                  }
                                  if (info[i].STATUS==2){
                                    tt="đang sửa"
                                  }
                                  if (info[i].STATUS==5){
                                    tt="máy change style"
                                  }
                                  if (info[i].STATUS==6){
                                    tt="đóng cuối ca"
                                  }
                                  if (dkloc=="Tất cả"){
                                    if (info[i].STATUS<3){
                                      if (info[i].STATUS==0){
                                       
                                        ttdt+='<tr class="w3-sand"><td >'
                                      }
                                      if (info[i].STATUS==1){
                                       
                                        ttdt+='<tr class="w3-red"><td >'
                                      }
                                      if (info[i].STATUS==2){
                                  
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      if (info[i].STATUS==4){
                                        tt="máy PM"
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      if (info[i].STATUS==5){
                                        tt="máy change style"
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                      if (info[i].STATUS==6){
                                        tt="đóng cuối ca"
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }

                                      ttdt+=info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }
                                  if (dkloc=="đang sửa"){
                                    if (info[i].STATUS==2){
                                      ttdt+='<tr class="w3-lime"><td >' + info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }
                                  if (dkloc=="đang hỏng"){
                                    
                                    if (info[i].STATUS>0&&info[i].STATUS<5){
                                      if (info[i].STATUS==0){
                                       
                                       ttdt+='<tr class="w3-sand"><td >'
                                      }
                                      if (info[i].STATUS==1){
                                        
                                        ttdt+='<tr class="w3-red"><td >'
                                      }
                                      if (info[i].STATUS==2){
                                  
                                        ttdt+='<tr class="w3-lime"><td >'
                                      }
                                        ttdt+= info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                        ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                        ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                        ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }
                                  if (dkloc=="đã sửa"){
                                    if (info[i].STATUS==0||info[i].STATUS==6||info[i].STATUS==5){
                                      ttdt+='<tr class="w3-sand"><td >' + info[i].Zone + '</td><td >' + info[i].groupname + '</td><td >' + info[i].LINE + '</td><td >' + info[i].IDMC
                                      ttdt+='</td><td >' + info[i].operation+'</td><td >' + info[i].broken_code_nv+'</td><td >' + tt+'</td><td >'+ change_time(info[i].STARTTIME)+'</td><td >' + info[i].downtime+'</td><td >' + info[i].IDNV
                                      ttdt+='</td><td >' + info[i].MO_TICKET+'</td><td >' + info[i].idnv_close+'</td><td >' + info[i].NV_DONG
                                      ttdt+='</td><td >' + info[i].THOMAY+'</td></tr>';
                                    }
                                  }

                                  if(info[i].groupname==groupline){
                                    down=down+info[i].downtime
                                    if (info[i].STATUS==1){
                                      hong=hong+1
                                    }
                                    if (info[i].STATUS==2){
                                      hong=hong+1
                                      sua=sua+1
                                    }

                                  } else{
                                    down=Math.round(down*100,0)/100
                                    tilehoatdong=Math.round((100-down*100/(wh*slmc))*100,0)/100
                                    if (hong>0){
                                      trHTML_ds += '<tr class="w3-red"><td >'
                                    } else{
                                      trHTML_ds += '<tr class="w3-sand"><td >'
                                    }
                                    trHTML_ds += zone + '</td><td >' + groupline + '</td><td >' + hong + '</td><td>'+ sua +'</td><td >'+slmc+'</td><td >' + down+'</td><td >'+tilehoatdong+'</td></tr>';
                                    groupline=info[i].groupname
                                    zone=info[i].Zone
                                    var wh=info[i].workhours
                                    var slmc=info[i].slmc
                                    hong=0
                                    sua=0
                                    down=0
                                    tilehoatdong=100;
                                    down=down+info[i].downtime
                                    if (info[i].STATUS==1){
                                      hong=hong+1
                                    }
                                    if (info[i].STATUS==2){
                                      hong=hong+1
                                      sua=sua+1
                                    }

                                  }
                                  if (i==info.length-1){
                                    down=Math.round(down*100,0)/100
                                    tilehoatdong=Math.round((100-down*100/(wh*slmc))*100,0)/100
                                    if (hong>0){
                                      trHTML_ds += '<tr class="w3-red"><td >'
                                    } else{
                                      trHTML_ds += '<tr class="w3-sand"><td >'
                                    }
                                    trHTML_ds += zone + '</td><td >' + groupline + '</td><td >' + hong + '</td><td>'+ sua +'</td><td >'+slmc+'</td><td >' + down+'</td><td >'+tilehoatdong+'</td></tr>';
                                  }
                                }
                                $('#table_GROUPSUM tbody').html(trHTML_ds)
                                $('#table_ALL tbody').html(ttdt)
                              }
                            

                            }

                          },
                          error: function () {
                                alert("submit failed")
                          },
                      })

          }



          function change_time(time){
                return (new Date(time)).toLocaleString("en-US", {timeZone: "Asia/Bangkok"});
            }
          function load_group(){
            // alert('load group')
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                var res_result=this.responseText
                console.log(res_result)
                if (res_result=="false"){
                  alert("mã số nhập vào không phải nv may!")
                } else{
                  sessionStorage.setItem('res_mc_stt',res_result);
                  Draw_map();
                }
                }
              };
              var login_group=document.getElementById("sel_group").value;
              console.log(login_group)
              xhttp.open("get", "/mec/group/"+login_group, true);
              xhttp.send();
          }
          function w3_open() {
            w3_close();
            document.getElementById("mySidebar").style.display = "block";
          }
          function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("mySidebar_right").style.display = "none";
            
          }
          function open_signup(){
            w3_close();
            document.getElementById("mySidebar_right").style.display = "block";
          }          
          function show_history(){
            w3_close()
            document.getElementById("home_page").style.display="none";
            document.getElementById("test").style.display="none";
            document.getElementById("history").style.display="block";
          }
          function next_question(){
              document.getElementById("sel_answer").value="-";
              var nq=parseInt(document.getElementById("question_number").innerText)
              if (nq<5){
                start_answer()
              } else{
                alert("bạn đã hoàn thành trả lời 5 câu hỏi của lượt này!")
                document.getElementById("div_question").style.display="none"
                document.getElementById("start_answer").style.display="none"
                get_detail();
              }  
          }
          function submit_answer(){
            if(document.getElementById("sel_answer").value=="-"){
              alert('Bạn chưa chọn câu trả lời!')
              return;
            }
            document.getElementById("a_confirm").innerText="Bạn đã trả lời sai!"
            if (document.getElementById("sel_answer").value==document.getElementById("ans").value){
              var score=parseInt(document.getElementById("score").innerText)+2
              document.getElementById("score").innerText=score
              document.getElementById("a_confirm").innerText="Bạn đã trả lời đúng!"
            }
            document.getElementById("dialog2").click();
            document.getElementById("next_q").disabled=false;
            document.getElementById("submit_ans").disabled=true;
            document.getElementById("guide").innerText=". nhấn nút tiếp theo để chuyển sang câu tiếp theo!"
            var score=parseInt(document.getElementById("score").innerText)
            var week=document.getElementById("week_login").innerText
            var user=document.getElementById("idnv").value
            var t_log=document.getElementById("t_login").innerText
                        event.preventDefault();
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.response)
                                if (this.responseText=="ID không đăng nhập được"){
                                  document.getElementById("sys_confirm").innerText=" Chưa được cập nhật _ Lỗi hệ thống"
                                } else{
                                  document.getElementById("sys_confirm").innerText=" Đã được cập nhật"
                                }
                            }
                          };
                          xhttp.open("get", "/lead/submit/"+user+"/"+week+"/"+t_log+"/"+score, true);
                          xhttp.send();
          }
          function start_answer(){
              event.preventDefault();
              var login_status=document.getElementById("bt_signup").innerText;
              var user_sign_up=document.getElementById("idnv").value
              if (login_status=="Đăng nhập"){
                alert("Vui lòng đăng nhập để bắt đầu!")
                return;
              }
              if (document.getElementById("t_login").innerText=="6"){
                alert("Bạn đã trả lời quá 5 lần trong tuần!\nVui lòng quay trở lại sau!");
                return;
              }
              document.getElementById("div_question").style.display="grid"
              document.getElementById("start_answer").style.display="none"
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      console.log(this.response)
                      if (this.responseText=="error"){
                        alert('Hệ thống đang bị lỗi \n Vui lòng quay trở lại sau')
                      } else{
                        var q=JSON.parse(this.response);
                        document.getElementById("question").innerHTML="<b>Câu hỏi: "+q[0].question+"</b>";
                        document.getElementById("answerA").innerText="Câu A: "+q[0].answerA;
                        document.getElementById("answerB").innerText="Câu B: "+q[0].answerB;
                        document.getElementById("answerC").innerText="Câu C: "+q[0].answerC;
                        document.getElementById("answerD").innerText="Câu D: "+q[0].answerD;
                        document.getElementById("a_result").innerText="Câu trả lời là: "+q[0].answer;
                        if (q[0].answerA==q[0].answer){
                          document.getElementById("ans").value="Câu A";
                        }
                        if (q[0].answerB==q[0].answer){
                          document.getElementById("ans").value="Câu B";
                        }
                        if (q[0].answerC==q[0].answer){
                          document.getElementById("ans").value="Câu C";
                        }
                        if (q[0].answerD==q[0].answer){
                          document.getElementById("ans").value="Câu D";
                        }
                        console.log(document.getElementById("ans").value)
                        var qu=parseInt(document.getElementById("question_number").innerText)+1
                        document.getElementById("question_number").innerText=qu
                        document.getElementById("next_q").disabled=true;
                        document.getElementById("submit_ans").disabled=false;
                        document.getElementById("guide").innerText=". Chọn câu trả lời của bạn và nhấn nút trả lời"
                      }  
                  }
                };
                xhttp.open("get", "/lead/get_question/"+user_sign_up, true);
                xhttp.send();
          };
          function show_home(){
            w3_close()
            document.getElementById("home_page").style.display="block";
            document.getElementById("test").style.display="none";
            document.getElementById("history").style.display="none";
          }
          function show_test(){
            w3_close()
            document.getElementById("home_page").style.display="none";
            document.getElementById("history").style.display="none";
            document.getElementById("test").style.display="block";
          }

</script>

</html>
