
<style>
    .mdl-layout__drawer {
        width: 350px;
        left: -250px;
    }
    .mdl-layout__drawer.is-visible {
        left: 0;
    }
    .abc {
        color:black;
    }
</style>
<div class="mdl-layout__drawer" style="border: none;">
    <div style="max-width: 100%; min-height: 80px; background-image: url('../Image/2.jpg');
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">HUMAN RESOURCE</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    
    <nav class="mdl-navigation">
        <style>
            .abc:hover{
                color:indigo;
            }
        </style>
        <div style="margin-left: 40px;"><b>Thông tin</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/Hanes">
            <i class="material-icons" style="margin-right: 20px;">home</i>
            Hanes
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/Departments">
            <i class="material-icons" style="margin-right: 20px;">local_fire_department</i>
            Phòng ban
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>Đăng ký</b></div>
        <a class="mdl-navigation__link abc" style="color: black; font-size: 14px;" href="/HR/AL">
            <i class="material-icons" style="margin-right: 20px;">settings</i>
            Đăng ký vắng
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/OT">
            <i class="material-icons" style="margin-right: 20px;">offline_bolt</i>
            Đăng ký tăng ca
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/ChangeShift">
            <i class="material-icons" style="margin-right: 20px;">description</i>
            Đổi ca
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>KPI</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/KPI">
            <i class="material-icons" style="margin-right: 20px;">description</i>
            Submit
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/KPI/Sup_Evaluate">
            <i class="material-icons" style="margin-right: 20px;">check_circle</i>
            Đánh giá
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/KPI/Report">
            <i class="material-icons" style="margin-right: 20px;">timeline</i>
            Báo cáo
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>PROGRAMS</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/HR/Talent_Development">
            <i class="material-icons" style="margin-right: 20px;">card_membership</i>
            Talent Development
        </a>
        <hr>
        <div style="margin-left: 40px;">Contact</div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px">info</i>
            IT -HBI PHUBAI
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            hbi_phubai_IT@hanes.com
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>BACK</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px;">keyboard_backspace</i>
            Trang Chủ
        </a>
    </nav>
</div>