<span class="mdl-layout-title">Công việc</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/IE/IE_page">Cân bằng chuyền</a>
    <a class="mdl-navigation__link" href="">Đào tạo</a>
    <li>
        <hr>
    </li>
    <a class="mdl-navigation__link" href="/login">Thoát</a>
</nav>