<div>
    <style>
        .event-card{
            width: 80%;
            height: fit-content;
            margin: 20px auto;
            border-radius: 10px;
        }
    </style>
    <div class="mdl-card mdl-shadow--6dp event-card">
        <div class="mdl-card__title" style="background:indigo; color: white; height: fit-content;">
            <h2 class="mdl-card__title-text">Chương trình "LÃNH ĐẠO KHIÊM NHƯỜNG"</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Chương trình khảo sát, đánh giá người quản lý trực tiếp của mình.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Tham gia khảo sát
                <i class="material-icons">send</i>
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons" style="color:white;">favorite</i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--6dp event-card">
        <div class="mdl-card__title"  style="background:coral; color: white;">
            <h2 class="mdl-card__title-text">Chương trình "VĂN HÓA ỨNG XỬ"</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Chương trình khảo sát, đánh giá những người xung quanh, trực tiếp làm việc với mình trong công ty.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Tham gia khảo sát
                <i class="material-icons">send</i>
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">favorite</i>
            </button>
        </div>
    </div>
</div>