
<style>
    .mdl-layout__drawer {
        width: 300px;
        left: -250px;
    }
    .mdl-layout__drawer.is-visible {
        left: 0;
    }
</style>
<div class="mdl-layout__drawer" style="background-color: rgb(33, 97, 140); border: none;">
    <div style="max-width: 100%; min-height: 80px; background-image: url('../Image/2.jpg');
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">Chất Lượng</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    <nav class="mdl-navigation">
        <div style="margin-left: 40px;color: white;"><b>Task</b></div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/TrackingDowntime">
            <i class="material-icons" style="margin-right: 20px">scanner</i>
            Theo dõi Downtime
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/TrackingNeedle">
            <i class="material-icons" style="margin-right: 20px">umbrella</i>
            Theo dõi Kim
        </a>
        
        <hr>
        <div style="margin-left: 40px;color: white;"><b>Thông tin</b></div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/QC">
            <i class="material-icons" style="margin-right: 20px">notifications</i>
            QC
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/Endline">
            <i class="material-icons" style="margin-right: 20px">new_releases</i>
            Endline
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/Documentation">
            <i class="material-icons" style="margin-right: 20px">explore</i>
            Tài liệu sản xuất
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/Remark">
            <i class="material-icons" style="margin-right: 20px">import_contacts</i>
            Tiêu chuẩn chất lượng
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/QC/Report">
            <i class="material-icons" style="margin-right: 20px">import_export</i>
            Xuất báo cáo
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px">keyboard_backspace</i>
            Trang Chủ
        </a>
    </nav>
</div>