<style>
    .mdl-layout__drawer {
        width: 300px;
        left: -250px;
    }

    .mdl-layout__drawer.is-visible {
        left: 0;
    }
</style>
<div class="mdl-layout__drawer" style="background-color:rgb(42, 0, 71); border: none;">
    <div style="max-width: 100%; min-height: 80px;
        background-size: 400px auto;">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">CCS</span>

        <div class="mdl-layout-spacer"></div>
    </div>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/PurchaseOrder">
            <i class="material-icons" style="margin-right: 20px">table_view</i>
            Purchase order
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Budget">
            <i class="material-icons" style="margin-right: 20px">price_change</i>
            Budget
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Currency">
            <i class="material-icons" style="margin-right: 20px">local_atm</i>
            Currency Rate
        </a>

        <div style="margin-left: 40px; color: white;"><b>Đơn hàng</b></div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Request">
            <i class="material-icons" style="margin-right: 20px">receipt</i>
            Yêu cầu báo giá
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Bidding">
            <i class="material-icons" style="margin-right: 20px">leaderboard</i>
            Bidding
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Order">
            <i class="material-icons" style="margin-right: 20px">done</i>
            Yêu cầu mua hàng
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Setup_Information">
            <i class="material-icons" style="margin-right: 20px">search</i>
            Tra cứu
        </a>
        <hr>
        <div style="margin-left: 40px; color: white;">Duyệt</div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Assistan">
            <i class="material-icons" style="margin-right: 20px">filter_1</i>
            Trợ lý bộ phận
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/HeadDepartment">
            <i class="material-icons" style="margin-right: 20px">filter_2</i>
            Trưởng bộ phận
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Finance">
            <i class="material-icons" style="margin-right: 20px">filter_3</i>
            Bộ phận kế toán
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/OperationManager">
            <i class="material-icons" style="margin-right: 20px">filter_4</i>
            Giám đốc vận hành
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/PlantManager">
            <i class="material-icons" style="margin-right: 20px">filter_5</i>
            Giám đốc nhà máy
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;"
            href="/CCS/OperationDirector/NoPlantManager">
            <i class="material-icons" style="margin-right: 20px">filter_6</i>
            Operation Director
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/Purchasing">
            <i class="material-icons" style="margin-right: 20px">filter_7</i>
            Bộ phận mua hàng
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/CCS/IND/Manager">
            <i class="material-icons" style="margin-right: 20px">filter_8</i>
            Industrialization  Manager
        </a>
        <hr>
        <div style="margin-left: 40px; color: white;">Contact</div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px">info</i>
            IT -HBI PHUBAI
        </a>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            hbi_phubai_IT@hanes.com
        </a>
        <hr>
        <div style="margin-left: 40px; color: white;">Home</div>
        <a class="mdl-navigation__link" style="color: white; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px">keyboard_backspace</i>
            Go Back
        </a>
    </nav>
</div>