<div class="mdl-layout-spacer"></div>
<!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="/Production/Production">Sản Xuất</a>
    <a class="mdl-navigation__link" href="/Production/PayrollCheck">Kiểm Tra Tem Lương</a>
    <a class="mdl-navigation__link" href="/Production/LineBalancing">Cân Bằng Chuyền</a>
    <a class="mdl-navigation__link" href="/Production/OffStandard">Off Standard</a>
    <a class="mdl-navigation__link" href="/Production/AutoKanban">Auto Kanban</a>
    <a class="mdl-navigation__link" href="/Production/Reports">Báo Cáo</a>
    <a class="mdl-navigation__link" href="/">Trang Chủ</a>
</nav> -->